<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://example.com/SimpleClockSD" defaultlocale="en" viewmodes="minimized">
	<name short="Simple Clock">Clock Speed Dial Extension</name>
	<description>This is an example Speed Dial extension showing a simple clock.</description>
	<author href="http://people.opera.com/danield/">Daniel Davis</author>
	<icon src="images/icon_64.png"/> <!-- Icon source: http://www.openclipart.org/detail/17552 -->
    <feature name="opera:speeddial" required="false">
        <param name="url" value="http://en.wikipedia.org/wiki/Time"/>
    </feature> 
</widget>
