* {
  margin: 0;
  padding: 0;
  overflow: inherit;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: #500;
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: "Arial", "Helmet", "Freesans", sans-serif;
}

/* Head section */

header {
    position: absolute;
    display: table;
    width: 100%;
    top:0;
    left:0;
    padding: 0;
    background-color: #500;
    color: white;
    font-weight: bold;
    z-index: 1;
	vertical-align: middle;
}

.debug header {
    opacity: 0.3;
}

#mainname {
	padding: 3px 0 0 3px;
}
.large header {
	height: 10%;
	min-height: 20px;
	font-size: 1em;
}
.large #mainname  { height: 18px; }
.big header, .bigger header {
	height: 10%;
	min-height: 18px;
	font-size: 0.85em;
}
.big #mainname, .bigger #mainname { height: 16px; }
.small header{
	height: 10%;
	max-height: 10%;
	min-height: 15px;
	font-size: 0.7em;
}
.small #mainname  { height: 13px; }
.tiny header {
	height: 8%;
	max-height: 8%;
	min-height: 12px;
	font-size: 0.5em;
}
.tiny #mainname  { height: 10px; }

header output,
header img {
	/*display: table-cell;*/
	vertical-align: middle;
	border-bottom: 1px solid #500;
}

header img { padding-top:1px;padding-left: 1px;}

/*output#date {
	text-align: center;
}*/
.tiny output#date {
    display: none;
}

output#title{
	text-align: left;
	padding: 0 5px 0 2px;
	display:inline-block;
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	top: 1px;
	background-color: #500;
}

output#date{
	right: 0;
	top: 1px;
	float:right;
	text-align: right;
	padding-right: 2px;
	display:block;
	position: absolute;
}

/*              */
/* Main Section */
/*              */
#main {
	position: absolute;
	display: block;
	top: 10%;
	left: 0;
	height: 90%;
	width: 100%;
	font-size: 1.7em;
	vertical-align: middle;
	
	background-image: url('images/globe-red.png');
	background-color: white;
}
.tiny #main {
	top: 8%;
	height: 92%;
}


/*
  Item sections
*/
section {
	display: table;
	position: absolute;
	text-align: center;
	vertical-align: top;
	width: 100%;
	height: 100%;
	left: 0;
	color: black;
	overflow:hidden;
}


#latest {border-bottom: 2px solid #500;}
#previous { border-top: 2px solid #500;border-bottom: 0px solid #500;}
#oldest {border-top: 2px solid #500;}

#latest {
	top: 0%;
}
.large #latest {
	max-height: 50%;
	font-size: 95%;
}
.large #previous {
	top: 50%;
	max-height: 31%;
	/*display: table;*/
	font-size: 75%;
}
.large #oldest {
	top: 81%;
	height: 19%;
	/*display: table;*/
	font-size: 55%;
	visibility:visible;
}

.bigger #latest {
	height: 75%;
	font-size: 80%;
}
.bigger #previous {
	top: 75%;
	height: 25%;
	display: table;
	font-size: 50%;
	visibility:visible;
}

.big #latest {
	height: 75%;
	font-size: 80%;
}
.big #previous {
	top: 75%;
	height: 25%;
	display: table;
	font-size: 40%;
	visibility:visible;
}

.big #oldest, 
.bigger #oldest {
	visibility:hidden;
	/*display: none;*/
}

.small #latest {
	padding-top: 5px;
	height: 100%;
	font-size: 60%;
}
.tiny #latest {
	padding-top: 8px;
	height: 100%;
	font-size: 35%;
}

.small #previous,
.small #oldest,
.tiny #previous,
.tiny #oldest {
	/*display: none;*/
	visibility:hidden;
}

article {
	position: relative;
	height: 100%;
	width: 98%;
	padding: 0px;
	margin: 0 auto;
	display:table-cell;
	text-align: center;
	vertical-align: top;
	/*overflow:hidden;*/
	text-overflow: ellipsis;
}

.big #previous article,
.bigger #previous article,
#oldest article {	
	vertical-align: middle;
}

.text {
	height: 97%;
}

/* 
/*
 * Title
 */
 .title { margin-top: 2px; }
 
.small #latest .title {
	display:inline;
}

/*
  Item Time
*/
/*.time {
	font-size: 8px;
	float:right;
	margin: 3px;
}
.small .time,
.tiny .time {
	font-size: 6px;
}
.small #latest .time {
	display:inline;
	float:none;
}*/


/**/
/*  Item Description */
/* */
.desc {
	display: none;
	/*text-align: left;*/
	/*margin-right: 10%;
	border-right: 1px dotted #004;*/
	padding: 5px;
	/*color:#5a81a4;*/
  	text-shadow: none;
}
.large #latest .desc,
.large #previous .desc,
.big #latest .desc,
.bigger #latest .desc,
.small #latest .desc  {
	display: block;
	font-size: 0.5em;
}
.bigger #latest .desc,
.small #latest .desc {
	font-size: 0.6em;
}
.large #previous .desc {
	color: black;
}
/* */
/* Images */
/* */
.image {
  background-color:black;
  height: 100%;
  width: 30%;
  display:inline-block;
  /*padding: 5px;*/
  float:left;
  
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#latest .image { margin-right: 5px; }
#previous .image { margin-left: 5px; }
#oldest .image { margin-right: 5px; }

#previous .image {
	float:right;
}

/*.tiny #latest .image { display:none; }*/


/* */
/* Debug */
/* */
.debug section {
	/*outline: solid 1px blue;*/
}
.debug section article {
	outline: dashed 1px red;
}
.debug .title, .debug .desc, .debug .time, .debug .img_sma, .debug .img_lar {
	outline: dotted 1px green;
}

/* Styles here are only applied in a "minimized" state */
@media screen and (view-mode: minimized) {
article {
  }
  header,
  output#clock {
    font-size: 1em;
  }
}
